<h3>New Animal</h3>

<div>
  <label>Species:</label>
  <input #newSpecies>
</div>

<div>
  <label>Name:</label>
  <input #newName>
</div>

<div>
  <label>Age:</label>
  <input #newAge>
</div>

<div>
  <label>Diet:</label>
  <input #newDiet>
</div>

<div>
  <label>Location:</label>
  <input #newLocation>
</div>

<div>
  <label>Caretakers:</label>
  <input #newCaretakers>
</div>

<div>
  <label>Sex:</label>
  <input #newSex>
</div>

<div>
  <label>Likes:</label>
  <input #newLikes>
</div>

<div>
  <label>Dislikes:</label>
  <input #newDislikes>
</div>

<button (click)="submitForm(newSpecies.value, newName.value, newAge.value, newDiet.value, newLocation.value, newCaretakers.value, newSex.value, newLikes.value, newDislikes.value); newSpecies.value= ''; newName.value=''; newAge.value=''; newDiet.value= ''; newLocation.value=''; newCaretakers.value=''; newSex.value=''; newLikes.value=''; newDislikes.value='';">Add</button>