<h4>Edit {{animal.name}}'s info</h4>
<label>Name: </label>
<input [(ngModel)]="animal.name" type="text"><br>
<label>Species: </label> 
<input [(ngModel)]="animal.species" type="text"><br>
<label>Age: </label> 
<input [(ngModel)]="animal.age" type="number"><br>
<label>Diet: </label> 
<input [(ngModel)]="animal.diet" type="text"><br>
<label>Location: </label> 
<input [(ngModel)]="animal.location" type="text"><br>
<label>Caretakers: </label> 
<input [(ngModel)]="animal.caretakers" type="Number"><br>
<label>Sex: </label> 
<input [(ngModel)]="animal.Sex" type="text"><br>
<label>Likes: </label> 
<input [(ngModel)]="animal.likes" type="text"><br>
<label>Dislikes: </label> 
<input [(ngModel)]="animal.dislikes" type="text"><br>
<br>
<br>
